<h1>Registration Form</h1>
<div class="box-it">
  <form [formGroup]="regForm" (ngSubmit)="processForm()">
    <table>
      <tr>
        <td>Name:</td>
        <td><input type="text" size="30" formControlName="name" /></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" size="30" formControlName="email" /></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td>
          <select name="" id="" formControlName="gender">
            <option value="f">Female</option>
            <option value="m">Male</option>
            <option value="a">Abstain</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Newsletter</td>
        <td>
          <input type="checkbox" formControlName="newsletter" />
          Subscribe to newsletter
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div>invalid: {{ regForm.invalid }}</div>
          <div>valid: {{ regForm.valid }}</div>
          <div>pristine: {{ regForm.pristine }}</div>
          <div>touched: {{ regForm.touched }}</div>
          <div>dirty: {{ regForm.dirty }}</div>
        </td>
      </tr>
      <tr>
        <td></td>

        <td>
          <button type="submit" [disabled]="regForm.invalid">Register!</button>
        </td>
      </tr>
    </table>
  </form>
</div>
